In [20]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import f1_score
from sklearn.externals.six import StringIO
import pydotplus
import matplotlib.image as mpimg
from sklearn import tree
%matplotlib inline

In [5]:
df=pd.read_csv("Train_short_features.csv")

In [6]:
df.head()

,from-to,score,userA_id,userB_id,has_common_skills,n_common_skills,has_common_schools,n_common_schools,has_common_industry,n_common_industry,...,userA_strength_id_7,userA_strength_id_8,userB_strength_id_1,userB_strength_id_2,userB_strength_id_3,userB_strength_id_4,userB_strength_id_5,userB_strength_id_6,userB_strength_id_7,userB_strength_id_8
0,4769697-6308211,3.0,4769697.0,6308211.0,0.0,-1.0,0.0,-1.0,0.0,0.0,...,1.0,1.0,1.0,3.0,3.0,15.0,6.0,14.0,0.0,8.0
1,6275668-6308211,2.0,6275668.0,6308211.0,1.0,-2.0,0.0,-1.0,0.0,0.0,...,0.0,3.0,1.0,3.0,3.0,15.0,6.0,14.0,0.0,8.0
2,6307254-6308211,3.0,6307254.0,6308211.0,0.0,-1.0,0.0,-1.0,0.0,0.0,...,1.0,3.0,1.0,3.0,3.0,15.0,6.0,14.0,0.0,8.0
3,1208644-6308211,2.0,1208644.0,6308211.0,0.0,0.0,0.0,-1.0,1.0,1.0,...,0.0,0.0,1.0,3.0,3.0,15.0,6.0,14.0,0.0,8.0
4,6275807-6308211,3.0,6275807.0,6308211.0,1.0,-2.0,0.0,-1.0,1.0,1.0,...,0.0,1.0,1.0,3.0,3.0,15.0,6.0,14.0,0.0,8.0

In [7]:
df.shape

(30916, 60)

In [8]:
df.columns

Index(['from-to', 'score', 'userA_id', 'userB_id', 'has_common_skills',
       'n_common_skills', 'has_common_schools', 'n_common_schools',
       'has_common_industry', 'n_common_industry', 'has_common_company',
       'n_common_company', 'userA_age', 'userB_age', 'userA_purpose_id_1',
       'userA_purpose_id_2', 'userA_purpose_id_3', 'userA_purpose_id_4',
       'userA_purpose_id_5', 'userA_purpose_id_6', 'userA_purpose_id_7',
       'userA_purpose_id_8', 'userA_purpose_id_9', 'userA_purpose_id_10',
       'userA_purpose_id_11', 'userA_purpose_id_12', 'userA_purpose_id_13',
       'userA_purpose_id_14', 'userA_purpose_id_15', 'userB_purpose_id_1',
       'userB_purpose_id_2', 'userB_purpose_id_3', 'userB_purpose_id_4',
       'userB_purpose_id_5', 'userB_purpose_id_6', 'userB_purpose_id_7',
       'userB_purpose_id_8', 'userB_purpose_id_9', 'userB_purpose_id_10',
       'userB_purpose_id_11', 'userB_purpose_id_12', 'userB_purpose_id_13',
       'userB_purpose_id_14', 'userB_purpose_id_15', 'userA_strength_id_1',
       'userA_strength_id_2', 'userA_strength_id_3', 'userA_strength_id_4',
       'userA_strength_id_5', 'userA_strength_id_6', 'userA_strength_id_7',
       'userA_strength_id_8', 'userB_strength_id_1', 'userB_strength_id_2',
       'userB_strength_id_3', 'userB_strength_id_4', 'userB_strength_id_5',
       'userB_strength_id_6', 'userB_strength_id_7', 'userB_strength_id_8'],
      dtype='object')

In [11]:
X=df.drop(labels=['from-to','userA_id','score', 'userA_id', 'userB_id'],
        axis=1)

In [12]:
X[0:5]

,has_common_skills,n_common_skills,has_common_schools,n_common_schools,has_common_industry,n_common_industry,has_common_company,n_common_company,userA_age,userB_age,...,userA_strength_id_7,userA_strength_id_8,userB_strength_id_1,userB_strength_id_2,userB_strength_id_3,userB_strength_id_4,userB_strength_id_5,userB_strength_id_6,userB_strength_id_7,userB_strength_id_8
0,0.0,-1.0,0.0,-1.0,0.0,0.0,0.0,0.0,37.0,28.0,...,1.0,1.0,1.0,3.0,3.0,15.0,6.0,14.0,0.0,8.0
1,1.0,-2.0,0.0,-1.0,0.0,0.0,1.0,-2.0,28.0,28.0,...,0.0,3.0,1.0,3.0,3.0,15.0,6.0,14.0,0.0,8.0
2,0.0,-1.0,0.0,-1.0,0.0,0.0,1.0,-2.0,28.0,28.0,...,1.0,3.0,1.0,3.0,3.0,15.0,6.0,14.0,0.0,8.0
3,0.0,0.0,0.0,-1.0,1.0,1.0,1.0,-2.0,44.0,28.0,...,0.0,0.0,1.0,3.0,3.0,15.0,6.0,14.0,0.0,8.0
4,1.0,-2.0,0.0,-1.0,1.0,1.0,1.0,-2.0,45.0,28.0,...,0.0,1.0,1.0,3.0,3.0,15.0,6.0,14.0,0.0,8.0

In [13]:
y=df["score"]

In [14]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.3, random_state=3,stratify=y)
X_val,X_test,y_val,y_test=train_test_split(X_testset,y_testset,test_size=0.5,random_state=3,stratify=y_testset)

In [27]:
drugTree = DecisionTreeClassifier(criterion="gini", max_depth = 15,random_state=3)
drugTree # it shows the default parameters

DecisionTreeClassifier(max_depth=15, random_state=3)

In [28]:
drugTree.fit(X_trainset,y_trainset)

DecisionTreeClassifier(max_depth=15, random_state=3)

In [29]:
drugTree.score(X_trainset,y_trainset)

0.7233029896954855

In [30]:
pred_train = drugTree.predict(X_trainset)
pred_val=drugTree.predict(X_val)

In [31]:
f1_score(y_trainset,pred_train,average='micro')

0.7233029896954855

In [32]:
f1_score(y_val,pred_val,average='micro')

0.3851628207893034

In [15]:
print (predTree [0:5])
print (y_testset [0:5])

[2. 0. 3. 0. 3.]
12053    2.0
15509    2.0
9969     0.0
10436    1.0
1407     3.0
Name: score, dtype: float64

In [16]:

import matplotlib.pyplot as plt
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_testset, predTree))

DecisionTrees's Accuracy:  0.3969811320754717

In [17]:
pip install -U scikit-learn

Collecting scikit-learn
  Using cached https://files.pythonhosted.org/packages/5c/a1/273def87037a7fb010512bbc5901c31cfddfca8080bc63b42b26e3cc55b3/scikit_learn-0.23.2-cp36-cp36m-manylinux1_x86_64.whl
Collecting numpy>=1.13.3 (from scikit-learn)
  Using cached https://files.pythonhosted.org/packages/b8/e5/a64ef44a85397ba3c377f6be9c02f3cb3e18023f8c89850dd319e7945521/numpy-1.19.2-cp36-cp36m-manylinux1_x86_64.whl
Collecting joblib>=0.11 (from scikit-learn)
  Using cached https://files.pythonhosted.org/packages/fc/c9/f58220ac44a1592f79a343caba12f6837f9e0c04c196176a3d66338e1ea8/joblib-0.17.0-py3-none-any.whl
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Using cached https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Collecting scipy>=0.19.1 (from scikit-learn)
  Using cached https://files.pythonhosted.org/packages/8a/14/d0475ceeaa047f3eae2dc7597c3d40228e1d5beee42c1730f3c96ffb5526/scipy-1.5.3-cp36-cp36m-manylinux1_x86_64.whl
Installing collected packages: numpy, joblib, threadpoolctl, scipy, scikit-learn
Successfully installed joblib-0.17.0 numpy-1.19.2 scikit-learn-0.23.2 scipy-1.5.3 threadpoolctl-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install pydotplus

In [ ]:
pip install --upgrade scikit-learn==0.20.3

In [2]:
dot_data = StringIO()
filename = "drugtree.png"
featureNames = df.columns[0:5]
targetNames = df["score"].unique().tolist()
out=tree.export_graphviz(drugTree,feature_names=featureNames, out_file=dot_data, class_names= np.unique(y_trainset), filled=True,  special_characters=True,rotate=False)  
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png(filename)
img = mpimg.imread(filename)
plt.figure(figsize=(100, 200))
plt.imshow(img,interpolation='nearest')

NameError: name 'df' is not defined